.blog-header{
    line-height: 1;
    border-bottom: 1px solid #e5e;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Playfair Display", Georgia, 'Times New Roman', Times, serif;
}

.display{
    font-size: 2.5rem;
}

#central{
    background-color: rgb(243, 242, 155);
    -webkit-text-fill-color: rgb(255, 102, 0);
}